<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout-seller.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch</title>
    <link rel="stylesheet" href="/css/seller.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/script/seller.js" defer></script> <!-- Sử dụng defer để đảm bảo script chạy sau khi DOM được load -->
</head>
<body>
    <div layout:fragment="content">
        
        <form class="background">
			<h1>Đây là trang quản lý chi nhánh cửa hàng</h1>
			
            <!-- Người quản lý -->
            <label for="name">Người quản lý:</label>
            <input type="text" id="name" name="name" placeholder="Nhập tên của bạn">

            <!-- Địa chỉ chi nhánh -->
            <label for="address">Địa chỉ chi nhánh:</label>
            <input type="text" id="address" name="address" th:text="${branch.address}">

            <!-- Thời gian mở và đóng cửa -->
            <label for="opentime">Thời gian mở cửa:</label>
            <input type="text" id="opentime" name="opentime">

            <label for="closetime">Thời gian đóng cửa:</label>
            <input type="text" id="closetime" name="closetime">

            <!-- Mô tả -->
            <label for="description">Mô tả:</label>
            <textarea id="description" name="description" rows="4" placeholder="Nhập mô tả" th:text="${branch.description}"></textarea>

            <!-- Nút gửi -->
            <button type="submit">Gửi</button>
            <div><a th:href="@{/seller/add-branch}" class="btn btn-primary btn-sm mb-3">Cập nhật thông tin</a></div>
        </form>
    </div>
</body>
</html>
