<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout-user.html}">
<body>
	<section layout:fragment="content">
		<div class="container-fluid px-0 mb-5">
			<div class="row g-0">
				<!-- Sidebar Start -->
				<div class="col-lg-3 d-none d-lg-block bg-light p-4">
					<h4 class="text-dark mb-4">Loại trà sữa</h4>
					<ul class="list-group">
						<!-- Lặp qua danh sách loại trà sữa -->
						<li class="list-group-item" th:each="type : ${listType}">
							<!-- Hiển thị tên loại trà sữa --> <a href="#"
							class="text-dark text-decoration-none"
							th:href="@{'/user/product?typeMilkTeaID=' + ${type.milkTeaTypeID}}"
							th:id="${type.milkTeaTypeID}"> <span
								th:text="${type.milkTeaTypeName}">Tên Loại Trà Sữa</span>
						</a>
						</li>
					</ul>
				</div>
				<!-- Sidebar End -->



				<!-- Carousel Start -->
				<div class="col-lg-9">
					<div id="header-carousel" class="carousel slide carousel-fade"
						data-bs-ride="carousel">
						<div class="carousel-inner">
							<!-- Slide 1 -->
							<div class="carousel-item active">
								<img class="w-100" src="/img/coursel1-milktea.jpg"
									alt="Hình ảnh trà sữa" />
								<div class="carousel-caption overlay">
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-lg-7 text-center">
												<p class="fs-2 text-white animated zoomIn">
													Chào mừng đến với <strong class="text-dark">AloTra
														Milk Tea</strong>
												</p>
												<h1 class="display-3 text-dark mb-4 animated zoomIn">
													Trà sữa tự nhiên & chất lượng</h1>
												<a href="#"
													class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Khám
													phá thêm</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Slide 2 -->
							<div class="carousel-item">
								<img class="w-100" src="/img/coursel2-milktea.jpg"
									alt="Hình ảnh trà sữa" />
								<div class="carousel-caption overlay">
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-lg-7 text-center">
												<p class="fs-2 text-white animated zoomIn">
													Khám phá sự khác biệt tại <strong class="text-dark">AloTra
														Milk Tea</strong>
												</p>
												<h1 class="display-3 text-dark mb-4 animated zoomIn">
													Tận hưởng ly trà sữa tuyệt vời nhất</h1>
												<a href="#"
													class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Tìm
													hiểu thêm</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Carousel Controls -->
						<button class="carousel-control-prev" type="button"
							data-bs-target="#header-carousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Trước</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#header-carousel" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Tiếp theo</span>
						</button>
					</div>
				</div>
				<!-- Carousel End -->
			</div>
		</div>

		<!-- Sản Phẩm Bắt Đầu -->
		<div class="container-fluid product py-5 my-5">
			<div class="container py-5">
				<div class="section-title text-center mx-auto wow fadeInUp"
					data-wow-delay="0.1s" style="max-width: 500px">
					<p class="fs-5 fw-medium fst-italic text-primary">Sản Phẩm Của
						Chúng Tôi</p>
					<h1 class="display-6">Trà sữa - Hương vị hoàn hảo mang đến
						niềm vui cho bạn</h1>
				</div>
				<div class="owl-carousel product-carousel wow fadeInUp"
					data-wow-delay="0.5s">
					<div class="d-block product-item rounded">
						<img src="/img/product1.png" alt="Trà Sữa Truyền Thống" />
						<div
							class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
							<h4 class="text-primary">Trà Sữa Truyền Thống</h4>
							<span class="text-body">Vị ngọt thanh, đậm đà, hòa quyện
								giữa trà đen và sữa tươi.</span>
						</div>
					</div>
					<div class="d-block product-item rounded">
						<img src="/img/product2.jpg" alt="Trà Sữa Matcha" />
						<div
							class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
							<h4 class="text-primary">Trà Sữa Matcha</h4>
							<span class="text-body">Hương vị trà xanh Nhật Bản thơm
								ngát, kết hợp hoàn hảo với sữa.</span>
						</div>
					</div>
					<div class="d-block product-item rounded">
						<img src="/img/product3.jpg" alt="Trà Sữa Socola" />
						<div
							class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
							<h4 class="text-primary">Trà Sữa Socola</h4>
							<span class="text-body">Socola ngọt ngào và đậm đà, mang
								đến cảm giác ngây ngất.</span>
						</div>
					</div>
					<div class="d-block product-item rounded">
						<img src="/img/product4.png" alt="Trà Sữa Trái Cây" />
						<div
							class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
							<h4 class="text-primary">Trà Sữa Trái Cây</h4>
							<span class="text-body">Sự kết hợp độc đáo giữa trà sữa và
								các loại trái cây tươi ngon.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Sản Phẩm Kết Thúc -->

		<!-- Sản phẩm bán chạy Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="section-title text-center mx-auto wow fadeInUp"
					data-wow-delay="0.1s" style="max-width: 500px">
					<p class="fs-5 fw-medium fst-italic text-primary">Sản phẩm bán
						chạy</p>
					<h1 class="display-6">Trà sữa bán chạy nhất</h1>
				</div>
				<div class="row g-4">
					<!-- Trà sữa trân châu đường đen -->
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store-product1.jpg"
								alt="Trà sữa trân châu đường đen" />
							<div class="p-4">
								<div class="text-center mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small>
								</div>
								<h4 class="mb-3">Trà Sữa Trân Châu Đường Đen</h4>
								<p>Trà sữa đậm đà kết hợp với trân châu đường đen thơm ngon,
									hấp dẫn.</p>
								<h4 class="text-primary">₫50,000</h4>
							</div>
							<div class="store-overlay">
								<a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a> <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">
									Thêm vào giỏ <i class="fa fa-cart-plus ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Trà sữa khoai môn -->
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store-product2.jpg"
								alt="Trà sữa khoai môn" />
							<div class="p-4">
								<div class="text-center mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small>
								</div>
								<h4 class="mb-3">Trà Sữa Khoai Môn</h4>
								<p>Trà sữa khoai môn thơm ngon, béo ngậy, một hương vị ngọt
									ngào và dễ chịu.</p>
								<h4 class="text-primary">₫55,000</h4>
							</div>
							<div class="store-overlay">
								<a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a> <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">
									Thêm vào giỏ <i class="fa fa-cart-plus ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Trà sữa xoài kem cheese -->
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store-product4.jpg"
								alt="Trà sữa xoài kem cheese" />
							<div class="p-4">
								<div class="text-center mb-3">
									<small class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small> <small
										class="fa fa-star text-primary"></small>
								</div>
								<h4 class="mb-3">Trà Sữa Xoài Kem Cheese</h4>
								<p>Sự kết hợp tuyệt vời giữa vị xoài ngọt ngào và kem cheese
									béo ngậy.</p>
								<h4 class="text-primary">₫60,000</h4>
							</div>
							<div class="store-overlay">
								<a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a> <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">
									Thêm vào giỏ <i class="fa fa-cart-plus ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Button Xem thêm -->
					<div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
						<a th:href="@{/user/product}" class="btn btn-primary rounded-pill p`y-3 px-5">
							Xem thêm sản phẩm </a>
					</div>
				</div>
			</div>
		</div>
		<!-- Sản phẩm bán chạy End -->

		<!-- Cửa Hàng Nổi Bật Bắt Đầu -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="section-title text-center mx-auto wow fadeInUp"
					data-wow-delay="0.1s" style="max-width: 500px">
					<p class="fs-5 fw-medium fst-italic text-primary">Cửa Hàng Nổi
						Bật</p>
					<h1 class="display-6">Điểm đến lý tưởng cho những tín đồ yêu
						trà sữa</h1>
				</div>
				<div class="row g-4">
					<!-- Cửa hàng 1 -->
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store1.jpg"
								alt="Cửa Hàng AloTra Quận 1" />
							<div class="p-4">
								<h4 class="mb-3">AloTra Quận 1</h4>
								<p>Không gian hiện đại, tọa lạc tại trung tâm thành phố.</p>
							</div>
							<div class="store-overlay">
								<a href="#" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Cửa hàng 2 -->
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store2.jpg"
								alt="Cửa Hàng AloTra Bình Thạnh" />
							<div class="p-4">
								<h4 class="mb-3">AloTra Bình Thạnh</h4>
								<p>Không gian ấm cúng với hương vị trà sữa đặc biệt.</p>
							</div>
							<div class="store-overlay">
								<a href="#" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Cửa hàng 3 -->
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store3.jpg"
								alt="Cửa Hàng AloTra Phú Nhuận" />
							<div class="p-4">
								<h4 class="mb-3">AloTra Phú Nhuận</h4>
								<p>Thiết kế sang trọng và dịch vụ tận tâm, lý tưởng để hẹn
									hò.</p>
							</div>
							<div class="store-overlay">
								<a href="#" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Cửa hàng 4 -->
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="store-item position-relative text-center">
							<img class="img-fluid" src="/img/store4.jpg"
								alt="Cửa Hàng AloTra Gò Vấp" />
							<div class="p-4">
								<h4 class="mb-3">AloTra Gò Vấp</h4>
								<p>Không gian rộng rãi, phù hợp cho nhóm bạn và gia đình.</p>
							</div>
							<div class="store-overlay">
								<a href="#" class="btn btn-primary rounded-pill py-2 px-4 m-2">
									Xem Chi Tiết <i class="fa fa-arrow-right ms-2"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Button Xem thêm cửa hàng -->
				<div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
					<a href="#" class="btn btn-primary rounded-pill py-3 px-5"> Xem
						thêm cửa hàng </a>
				</div>
			</div>
		</div>
		<!-- Cửa Hàng Nổi Bật Kết Thúc -->

		<!-- Contact begin -->
		<div class="section-title text-center mx-auto wow fadeInUp"
			data-wow-delay="0.1s" style="max-width: 500px">
			<p class="fs-5 fw-medium fst-italic text-primary">Liên hệ với
				chúng tôi</p>
			<h1 class="display-6">Liên hệ ngay với chúng tôi</h1>
		</div>
		<div class="row justify-content-center wow fadeInUp"
			data-wow-delay="0.1s">
			<div class="col-lg-8">
				<p class="text-center mb-5">Chúng tôi luôn sẵn sàng hỗ trợ bạn.
					Nếu bạn có bất kỳ câu hỏi nào hoặc cần hỗ trợ thêm, đừng ngần ngại
					liên hệ với chúng tôi. Chúng tôi cam kết mang đến dịch vụ tốt nhất
					cho bạn.</p>
				<div class="row g-5">
					<div class="col-md-4 text-center wow fadeInUp"
						data-wow-delay="0.3s">
						<div class="btn-square mx-auto mb-3">
							<i class="fa fa-envelope fa-2x text-white"></i>
						</div>
						<p class="mb-2">info@alotra.com</p>
						<p class="mb-0">support@alotra.com</p>
					</div>
					<div class="col-md-4 text-center wow fadeInUp"
						data-wow-delay="0.4s">
						<div class="btn-square mx-auto mb-3">
							<i class="fa fa-phone fa-2x text-white"></i>
						</div>
						<p class="mb-2">+012 345 67890</p>
						<p class="mb-0">+012 345 67890</p>
					</div>
					<div class="col-md-4 text-center wow fadeInUp"
						data-wow-delay="0.5s">
						<div class="btn-square mx-auto mb-3">
							<i class="fa fa-map-marker-alt fa-2x text-white"></i>
						</div>
						<p class="mb-2">Số 1 Võ Văn Ngân</p>
						<p class="mb-0">Linh Chiểu, Thủ Đức, TP. Hồ Chí Minh</p>
					</div>
				</div>
			</div>
	</section>

</body>
</html>
