<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng Nhập - AloTra</title>
<!-- Link file CSS -->
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="login-container">
		<div th:if="${alert != null}" class="alert alert-danger">
			<span th:text="${alert}"></span>
		</div>
		<img src="/img/logo-milktea.avif" alt="Logo" class="logo">
		<h2>Đăng Nhập</h2>
		<form action="/login" method="POST">
			<input type="text" name="username" placeholder="Tên đăng nhập"
				required> <input type="password" name="password"
				placeholder="Mật khẩu" required>

			<!-- Nhớ mật khẩu -->
			<div class="remember-forgot">
				<label> <input type="checkbox" name="remember"> Nhớ
					mật khẩu
				</label> <a href="/forgot-password" class="forgot-link">Quên mật khẩu?</a>
			</div>

			<button type="submit">Đăng Nhập</button>
		</form>
		<div class="register">
			Chưa có tài khoản? <a href="/register">Đăng ký ngay</a>
		</div>

	</div>
</body>
</html>
