<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{seller/layout-seller.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Revenue</title>
<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
	<div th:fragment="footer">
	<hr>
    <!-- Nội dung footer của bạn -->
    <p>&copy; 2024 Your Website</p>
    <p>&copy; 2024 Your Website</p>
</div>
</body>